# Inspired from:
# - https://github.com/cockroachdb/sqlalchemy-cockroachdb/blob/master/.github/workflows/ci.yml
# - https://github.com/rgeo/activerecord-postgis-adapter/blob/master/.github/workflows/tests.yml
name: Test

on:
  push:
    branches: [master]
  # Triggers the workflow on pull request events.
  pull_request:
    types: [opened, reopened, synchronize]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# This allows a subsequently queued workflow run to interrupt previous runs.
concurrency:
  group: "${{ github.workflow }} @ ${{ github.ref }}"
  cancel-in-progress: true

jobs:
  # Since the name of the matrix job depends on the version, we define another job with a more stable name.
  test_results:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: Test Results
    needs: [test]
    steps:
      - run: |
          result="${{ needs.test.result }}"
          if [[ $result == "success" || $result == "skipped" ]]; then
            exit 0
          else
            exit 1
          fi

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # https://www.cockroachlabs.com/docs/releases/release-support-policy
        crdb: [v24.3, v25.1, v25.2, v25.3]
        ruby: ["3.4"]
    name: Test (crdb=${{ matrix.crdb }} ruby=${{ matrix.ruby }}
    steps:
      - name: Set Up Actions
        uses: actions/checkout@v4
      - uses: ./.github/actions/test-runner
        with:
          crdb: ${{ matrix.crdb }}
          ruby: ${{ matrix.ruby }}
